:root{
    --gradient: linear-gradient(to top, #96fbc386 0%, #f9f58686 100%);
    --gradient1:  linear-gradient(120deg, #d5fc7981 0%, #96e6a17e 100%);
    --url-img:url("../img/background.jpg");
   --box-shadow: 6px 6px 10px rgba(0,0,0,.6);
   --width: 100%;
   --radius: 8px;

}




body{
    background-image: var(--gradient1), var(--url-img);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.form{
    
    width: 400px;
    background: white;
    margin: 100px auto;
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.input{
    width: var(--width);
    padding: 20px 5px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #004B23;
    outline: none;
}

.input, .form-submit{
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
}

.form-title{
    margin-bottom: 40px;
    font-size: 2rem;
}

.form-message{
    max-width: var(--width);
    min-width: var(--width);
    min-height: 150px;
    max-height: 150px;
}

.form-submit{
    display: block;
    width: var(--width);
    font-size: 20px;
    background-image: var(--gradient1);
    padding: 10px 30px;
    border: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.form-submit:hover{
    background-image:var(--gradient);
    transition: background-image .3s;
}



.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #2DAE0F;

}


.contenedor-lugares{
    background-color: #2DAE0F;
    max-width: 1100px;
}
